h2{
    color:rgb(127, 199, 244);
    font-size: 50px;
    
    margin:0px;
    
    text-align: center;
}


h3{
    background-color: bisque;
    border-style: solid;
    width: 450px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 50px;
}
div
h4{
    background-color: gray;
    border-style: solid;
    width: 100px;
    margin: 50px; ;
}

ul{
    background-color: gray;
    width: 150px;
    
    
}

ol{ background-color: gray;
    width: 150px;}


h6{
    background-color: bisque;
    border-style: solid;
    width: 450px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 50px;
    font-size: medium;
}
.container{
    display: flex;
    justify-content: space-between;
}